{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{% static 'portfolio_builder/css/styles.css' %}">
</head>
<body>

    <h1>Welcome to My Portfolio</h1>

    {% if success %}
        <h2>Thank you {{ name }}!</h2>
        <p>Your message:</p>
        <p><strong>{{ message }}</strong></p>
    {% endif %}

    <h2>My Projects</h2>

    <div>
        <img src="{% static 'portfolio_builder/images/Bullseye.PNG' %}" 
            alt="Project 1">
        <p>Project description here.</p>
    </div>

    <a href="{% url 'contact' %}">Contact Me</a>

</body>
</html>

